@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
#user-profile{
    background-color: #8E8E8E;
    height:190vh;
    width: 100%;
   
    display: block;
    align-items: center;
    font-family: 'poppins';
 }
 #user-profile h1{
    text-align: center;
    font-family: 'inter';
    font-size: 40px;
    font-weight: 600;
    color: black;
    margin-left: 270px;
    margin-top: 30px;
    width:600px;
    border-radius: 30px;
    background-color: white;
    


 }
 #user{
    margin-top: 80px;
    background-color: #E3E3E3;
    height:130vh;
    width:70%;
    display: block;
    align-items: center;
    padding-inline: 10px;
    margin-left: 170px;
   
 }
 .navbar{
    display: flex;
    background-color:white;
    width:102%; 
    position: relative;
   right:1%;
   gap:40px;
   height:7%;

 }
 #search{
    padding: 5px;
    border-radius: 20px;
    width:270px;
    background-color:#E3E3E3 ;
    position: relative;
    left:150px;
    top:10px;
 }
 .navbar p{
    font-family: 'poppins';
    position: relative;
    left:173px;
    top:1px;
 }
 .navbar .badges img{
   width:20px;
   position: relative;
   left:210px;
   top:19px;
 }
 .navbar .bell img{
    width:30px;
    position: relative;
    left:146px;
    top:15px;
 }
 .navbar h3{
    border-radius: 100px;
    border-style: solid;
    width:30px;
    height:26px;
    padding: 7px;
    color:white;
    background-color: #006837;
    position: relative;
    left:110px;
    bottom:11px;
 }
 span{
    font-family: 'poppins';
    color:#8E8E8E;
    position: relative;
    bottom:25px;
    
 }
 .navbar .prof{
    position: relative;
    left:72px;
    bottom:10px;
 }
 .sidebar-container{
    font-size: 15px;
    position: relative;
    top:0.3%;
    background-color: white;
    width:20%;
    height:70%;
    right:9px;
    padding:5px;
    
 }
 .sidebar-container button{
    background-color: #006837;
    padding: 5px;
    border-radius: 5px;
    width:150px;
    margin-left: 5px;
    color:white;
    margin-top: 20%;
 }
 .sidebar-content{
    margin-top: 39%;
    text-align: center;
 }
 .sidebar-content .safe{
    margin-top:60%;
    text-align: center
 }
 .profile-header{

    height:90vh;
    object-fit: cover;
    width:54%;
    position: absolute;
    left:27%;
    top:33%;
    padding-inline: 20px;
    
 }
 .profile-header h2{
    font-family: 'poppins';
 }
 .profile-header p{
    position: relative;
    bottom:15px;
 }
 .profile-header-icons{
    display: flex;
    background-color: white;
    width: 98%;
    gap:10px;
    height:30%;
    
 }
 .profile-header-icons img{
    width:30px;
    margin-top: 5px;
    margin-left: 10px;
    padding: 10px;
    background-color: #E3E3E3;
    border-radius: 70%;
 }
 .profile-header-icons .text{
font-size:12px;
font-family: 'poppins';
overflow: hidden;
 }
 
    
 .tet{
    position: absolute;
    left:49%;
    border-style: groove;
    width:48px;
    top:7%;
    padding-left: 5px;
    height:30px;
    margin-right:10px;
    border-color: #EC221F;
 }
 #user-form{
    display:flex;
    width:95.3%;
    height:70vh;
    gap:9%;
    padding-left: 20px;
    background-color: white;
    position: relative;
 bottom:0%;
 
    
 }
 #user-form-left label{
    padding-bottom: 10px;
    padding: 10px;
 }
 #user-form-left input{
    border-radius:10px;
    padding: 10px;
    width:270px;
    background-color: #E3E3E3;
 }
  select{
   border-radius:10px;
   padding: 10px;
   width:290px;
   background-color: #E3E3E3;
 }
  #citizen{
   border-radius:10px;
   padding: 10px;
   width:290px;
   color:#E3E3E3;
   background-color: #E3E3E3;
 }
 .user-form-right input{
    border-radius:10px;
    padding: 10px;
    width:270px;
    background-color: #E3E3E3;
 }
 .button{
    color:white;
    background-color: #006837;
    position: relative;
    width:159px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    left:35%;
    bottom:20%;
 }
 
 
 
 
 
 
 
 
 
 /* .profile-form{
    text-align: center;
    
}
.profile-form h1{
    color:red;
    font-size: 2rem;
}
.profile-form #username{
    width:23%;
    padding: 10px;
    margin: 10px;
    font-size: 17px;
    border-radius: 5px;
}
.profile-form #phone-number{
    width:23%;
    padding: 10px;
    margin: 10px;
    font-size: 17px;
    border-radius: 5px;
}
.profile-form #pass{
    width:23%;
    padding: 10px;
    margin: 10px;
    font-size: 17px;
    border-radius: 5px;
}
.profile-form #word{
    width:23%;
    padding: 10px;
    margin: 10px;
    font-size: 17px;
    border-radius:5px;
}
button{
    width:25%;
    padding: 10px;
    margin: 10px;
    font-size:20px;
    border-radius: 5px;
    background-color:#004D00;
    color:white;
}
.social{
    text-align: center;
}
.social-media-icons img{
    width: 50px;
}
.social a{
    text-decoration: none;
    color:#004D00;
margin-left: 5px;
}  */