@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


.header-nav{
    width: 100%;
    height: 20vh;
    font-family: Poppins;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 50px;
}


.home-logo{
    width: 100px;
}
.home-logo img{
    width: 100%;
}

.landing-headernavlinks{
    width: 500px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.landing-headernavlinks a{
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
    font-size: 500;
    padding: 8px;
    color: #000000;
}

.home{
    font-weight: 600;
    border-bottom: 1px solid #FF6F00;
}

.nav-btns{
    width: 240px;
    display: flex;
    justify-content: space-between;
}
.nav-btns button{
    width: 112px;
    padding: 10px 0;
    border-radius: 50px;
    cursor: pointer;
}

.btn-login{
    background-color: transparent;
    color: #004D00;
    font-weight: 500;
    font-size: medium;
    line-height: 100%;
    border: 1px solid #004D00;
}

.btn-signup{
    background-color: #004D00;
    color: #F5F5F5;
    font-weight: 500;
    font-size: Medium;
    line-height: 100%;
    border: 1px solid #2C2C2C;
}


@media (max-width:767px) {
    .header-nav .home-logo{
        width: 80px;
    }

    .header-nav .landing-headernavlinks{
        display: none;
    }

    .header-nav .nav-btns{
        width: 200px;
    }
    .header-nav .nav-btns button{
        width: 95px;
        padding: 8px 0;
    }
    
    .btn-login{
        font-size: small;
    }
    
    .btn-signup{
        font-size: small;
    }
}